body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
}
